<div class="container signup-form mt-5">
    <form *ngIf="!showModal" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" class="pt-3">

        <div class="mdb-form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ngModel required>
        </div>
        <div class="mdb-form-group mt-3">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" ngModel required>
        </div>
        <div class="mdb-form-group mt-3">
            <label for="emailAddress">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" ngModel required email>
        </div>

        <button type="submit" class="btn btn-primary mt-3 mb-3" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
  <div *ngIf="showModal" class="container tymodal w-100">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-3">Thank you!</h4>
            </div>
            <div class="modal-body">
                <p>We will keep in touch.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mb-3" (click)="handleModalClose()">Close</button>
            </div>
        </div>
    </div>
</div>
</div>